h1 {
	color: purple;
}

body {
  text-align: center;
  background: url("images/pink_glitter.jpg");
  background-position: center;
  color: white;
  font-family: 'Helvetica';
}

ul {
    font-family: 'Pacifico';
    font-size: 50px;
    list-style-type: none;
    margin: 10;
    padding: 30;
    overflow: hidden;
    background-color: rgba(216, 191, 216, .6);
    display:block;
    border-radius: 12px;
    position: relative;
}

li {
    float: center;
    display: inline;
    padding: 15px 15px 15px 0px;
    display:inline-block;
    font-size: 30px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

p {
  font-size: 22px;
}

input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: red;
  color: white;
}