
body {
  text-align: center;
  background: url("pink_glitter.jpg");
  margin: 0 auto;
  color: #660066;
  font-family: 'Pacifico';
  padding: 10px;
}

ul {
    font-family: 'Pacifico';
    font-size: 60px;
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: rgba(216, 191, 216, .6);
    display:block;
    border-radius: 12px;
    position: relative;
}

li {
    float: center;
    display: inline;
    padding: 20px;
    display:inline-block;
    font-size: 30px;
}

li a {
    display: inline-block;
    color: #660066;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #CC0066;
}

p {
  color: #CC0066;
  font-size: 30px;
  padding:8px;
  display:block;
  background-color: rgba(216, 191, 216, .4);
  border: 2px white none;
  border-radius: 10px;
}

ol {
  font-size:30px;
}

#basicbitchimage {
  size: 1000%;
  border: 5px solid white;
  border-radius: 70%;
  width: 270px;
  position: relative;
  left: 508px;
}

#slogan {
  color: white ;
  font-size: 30px;
}

#credits {
  img
}



